@import url("https://fonts.googleapis.com/css?family=Montserrat");
header {
  z-index: 9;
  position: relative;
  top: 0;
  width: 100%; }

.gcied {
  color: #ffffff;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4em;
  width: 100%;
  line-height: 1cm;
  text-align: center;
  height: 2cm; }
  .gcied .title {
    width: 100%;
    position: relative;
    opacity: 0;
    animation: fadeInLeft 1s ease forwards;
    word-spacing: 0.25cm;
    font-weight: 400 !important; }
    @media screen and (max-width: 660px) {
      .gcied .title {
        word-spacing: 0.1cm; } }
  .gcied .T1 {
    animation-delay: .4s !important; }
  .gcied .T2 {
    animation-delay: .5s !important; }
  .gcied .T3 {
    animation-delay: .6s !important; }
  .gcied .T4 {
    animation-delay: .7s !important; }
  .gcied .T5 {
    animation-delay: .8s !important; }
  .gcied .T6 {
    animation-delay: .9s !important; }
  .gcied .T7 {
    animation-delay: 1s !important; }
  .gcied .impact {
    word-spacing: 0.1cm;
    opacity: 0;
    font-weight: 100; }
  @media screen and (max-width: 700px) {
    .gcied {
      font-size: 1.25em;
      width: 98%;
      height: 15vh;
      bottom: 6%; } }
  @media screen and (max-width: 420px) {
    .gcied {
      font-size: 1.2em;
      width: 98%;
      height: 13vh;
      bottom: 21%; } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    left: -5%; }
  100% {
    opacity: 1;
    left: 0%; } }
@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    left: 0%; }
  100% {
    opacity: 0;
    left: -5%; } }
@keyframes LeftRight {
  0% {
    left: 0%; }
  50% {
    left: 10%; }
  100% {
    left: 0%; } }
.clickToFull {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  padding: 0.8em 4em 0.7em 3.8em;
  border: 2px solid #ffffff;
  cursor: pointer;
  z-index: 9; }
  .clickToFull img {
    width: 40px;
    padding-right: 0.5em;
    animation: LeftRight 2s ease forwards infinite;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); }
  @media screen and (max-width: 700px) {
    .clickToFull {
      width: 70%; } }
  @media screen and (max-width: 370px) {
    .clickToFull {
      padding: 0.8em 4em 0.8em 3.8em;
      width: 75%;
      bottom: 10%; } }

.body1 {
  font-family: 'Montserrat', sans-serif;
  height: auto;
  z-index: 1;
  margin-top: 3em; }
  .body1 .section_headding {
    font-size: 3em;
    text-align: center;
    padding: 1em; }
  .body1 .about {
    color: #000000;
    text-align: center;
    padding: 9em 5em 5em 5em; }
    @media screen and (max-width: 600px) {
      .body1 .about {
        padding: 8em 2em 2em 2em; } }
    .body1 .about .about_paragraph {
      font-size: 1.5em; }
  .body1 .mission {
    background: #F6F6F6;
    padding: 3em 5em 5em 5em; }
    @media screen and (max-width: 600px) {
      .body1 .mission {
        padding: 3em 2em 2em 2em; } }
    .body1 .mission p {
      font-size: 1.5em;
      text-align: center; }
  .body1 .statups {
    padding-top: 4em;
    padding-bottom: 3em; }
    @media screen and (max-width: 600px) {
      .body1 .statups {
        padding: 1em 2em 2em 2em; } }
    .body1 .statups .more {
      position: relative;
      left: 0; }
      .body1 .statups .more button {
        width: 30%;
        font-size: 1.5em; }
        @media screen and (max-width: 600px) {
          .body1 .statups .more button {
            width: 70%; } }
    .body1 .statups .row {
      margin-top: 5em; }
    .body1 .statups .card {
      width: 280px;
      height: 460px;
      margin-bottom: 10%;
      background-color: #FAEBD7;
      border: #ddd5d5 solid 2px;
      transition: all 0.5s;
      border-radius: 10px; }
      @media screen and (max-width: 600px) {
        .body1 .statups .card {
          margin-bottom: 3em; } }
      .body1 .statups .card img {
        margin-top: 0px;
        width: 100%;
        height: 50%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; }
      .body1 .statups .card .name {
        font-size: 26px;
        font-weight: 600; }
      .body1 .statups .card .info {
        text-align: center;
        font-style: normal;
        font-size: 1em;
        font-family: name;
        padding-top: 1.5em; }
    .body1 .statups .card:hover {
      -webkit-box-shadow: 0px 0px 197px -49px rgba(0, 0, 0, 0.49);
      -moz-box-shadow: 0px 0px 197px -49px rgba(0, 0, 0, 0.49);
      box-shadow: 0px 0px 197px -49px rgba(0, 0, 0, 0.49);
      transform: scale(1.02); }
  .body1 .footer_section {
    background: #000000; }
  .body1 .footer {
    text-align: center;
    padding: 2.5em 0.5em 5em 0.5em;
    color: #d3d3d3; }
    .body1 .footer .section_headding {
      width: 100% !important;
      padding: none !important; }
    @media screen and (min-width: 700px) {
      .body1 .footer {
        padding: 2.5em 2em 5em 2em; } }
    .body1 .footer a {
      color: #d3d3d3;
      text-decoration: none !important;
      text-align: center; }
    @media screen and (max-width: 600px) {
      .body1 .footer .col-md-4 {
        padding-bottom: 3em !important; } }
    .body1 .footer input,
    .body1 .footer textarea {
      background: #F6F6F6;
      color: #000000;
      letter-spacing: 1px; }
    .body1 .footer input[type="number"]::-webkit-outer-spin-button,
    .body1 .footer input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    .body1 .footer input[type="number"] {
      -moz-appearance: textfield; }
    .body1 .footer .btn-default {
      background: #F6F6F6;
      color: #000000;
      position: relative;
      width: 100%;
      font-size: 1.3em; }

/*# sourceMappingURL=index.css.map */
