@import url("https://fonts.googleapis.com/css?family=Montserrat");
header {
  z-index: 999;
  position: relative;
  top: 0;
  width: 100%; }

@media screen and (min-width: 700px) {
  .header1 {
    display: none; } }

.body1 {
  font-family: 'Montserrat', sans-serif;
  height: auto;
  z-index: 1;
  margin-top: 3em; }
  .body1 .section_headding {
    font-size: 3em;
    text-align: center;
    padding: 1em;
    width: 100% !important; }
    @media screen and (max-width: 600px) {
      .body1 .section_headding {
        padding: 1em 0.5em 1em 0.5em; } }
  .body1 .section_content {
    font-size: 1.5em;
    text-align: center; }
    .body1 .section_content li {
      font-size: 0.8em;
      text-align: left; }
  .body1 .incubation {
    padding: 2em 0 2em 0;
    background: #000000;
    color: #F6F6F6; }
  .body1 .SEED {
    color: #000000;
    padding: 1em 5em 5em 5em; }
    @media screen and (max-width: 600px) {
      .body1 .SEED {
        padding: 3em 2em 2em 2em; } }
  .body1 .footer_section {
    background: #000000; }
  .body1 .footer {
    text-align: center;
    padding: 2.5em 2em 5em 2em;
    color: #d3d3d3; }
    .body1 .footer .section_headding {
      width: 100% !important;
      padding: none !important; }
    .body1 .footer a {
      color: #d3d3d3;
      text-decoration: none !important;
      text-align: center; }
    @media screen and (max-width: 600px) {
      .body1 .footer .col-md-4 {
        padding-bottom: 3em !important; } }
    .body1 .footer input,
    .body1 .footer textarea {
      background: #F6F6F6;
      color: #000000;
      letter-spacing: 1px; }
    .body1 .footer input[type="number"]::-webkit-outer-spin-button,
    .body1 .footer input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    .body1 .footer input[type="number"] {
      -moz-appearance: textfield; }
    .body1 .footer .btn-default {
      background: #F6F6F6;
      color: #000000;
      position: relative;
      width: 100%;
      font-size: 1.3em; }

body {
  background: #fafafc; }

.team {
  margin-top: 10%;
  margin-bottom: 10%; }

.card {
  font-family: 'Montserrat', sans-serif;
  width: 250px;
  height: 320px;
  margin-top: 1.7em;
  margin-bottom: 1.7em; }
  .card .card-images {
    width: 250px;
    height: 320px; }
    .card .card-images .image_half {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 250px;
      height: 320px;
      z-index: 9; }
    .card .card-images .image_overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 250px;
      height: 320px;
      z-index: 99; }
    .card .card-images .image_overlay_svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 250px;
      height: 320px;
      z-index: 99;
      overflow: hidden;
      border: 2px solid #f9f9fa; }
    .card .card-images .info {
      position: absolute;
      bottom: 3%;
      left: 50%;
      width: 210px;
      transform: translate(-50%, -50%);
      z-index: 99;
      color: #000000;
      display: inline-block;
      text-align: left; }
      .card .card-images .info .name {
        font-weight: 700;
        font-size: 1.2em; }
      .card .card-images .info .designation {
        font-weight: 500;
        font-size: 0.9em; }
    .card .card-images .contact {
      width: 210px;
      position: absolute;
      bottom: 3%;
      left: 0%;
      transform: translate(-50%, -50%);
      z-index: 99;
      display: none;
      color: #ffffff;
      text-align: left; }
      .card .card-images .contact .name_contact {
        font-weight: 700;
        font-size: 1.2em; }
      .card .card-images .contact .designation_contact {
        font-weight: 500;
        font-size: 0.9em; }
      .card .card-images .contact .social_icon {
        position: absolute;
        right: -1%;
        bottom: 5%; }
        .card .card-images .contact .social_icon a img {
          width: 35px;
          height: 35px;
          padding-left: 5px; }
  .card :hover .image_overlay {
    background-color: rgba(0, 0, 0, 0.4) !important; }
  .card :hover .contact {
    display: inline-block;
    left: 50%; }
  .card :hover .image_overlay_svg {
    opacity: 0;
    transition: opacity 1s; }
  .card :hover .info {
    display: none; }

.overlay ul li {
  height: calc(100% / 7); }

/*# sourceMappingURL=team.css.map */
