@import url('https://fonts.googleapis.com/css?family=Montserrat');
header {
    z-index: 999;
    position: relative;
    top: 0;
    width: 100%;
}

.header1 {
    @media screen and (min-width: 700px) {
        display: none;
    }
}

.body1 {
    font-family: 'Montserrat', sans-serif;
    height: auto;
    z-index: 1;
    margin-top: 3em;
    .section_headding {
        font-size: 3em;
        text-align: center;
        padding: 1em;
        width: 100% !important;
        @media screen and (max-width: 600px) {
            padding: 1em 0.5em 1em 0.5em;
        }
    }
    .section_content{
        font-size: 1.5em;
        text-align: center;
        li{
            font-size: 0.8em;
            text-align: left;
        }
    }
    .incubation{
        padding: 2em 0 2em 0;
        background: #000000;
        color: #F6F6F6;
    }
    .SEED {
        color: #000000;
        
        padding: 1em 5em 5em 5em;
        @media screen and (max-width: 600px) {
            padding: 3em 2em 2em 2em;
        }
    }
    .footer_section{
        background: #000000;
    }
    .footer {
       
        .section_headding{
            width: 100% !important;
           padding: none !important;
        }
        text-align: center;
        padding: 2.5em 2em 5em 2em;
        color: #d3d3d3;
        a {
            color: #d3d3d3;
            text-decoration: none !important;
            text-align: center;
            
        }
        .col-md-4{
            @media screen and (max-width:600px) {
                padding-bottom: 3em !important;
            }
        }
        input,
        textarea {
            background: #F6F6F6;
            color: #000000;
            letter-spacing: 1px;
        }
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type="number"] {
            -moz-appearance: textfield;
        }
        .btn-default {
            background: #F6F6F6;
            color: #000000;
            position: relative;
            width: 100%;
            font-size: 1.3em;
            
        }
    }
}
$width: 250px;
$height: 320px;
body{
    background: #fafafc;
}
@mixin center($index) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $width;
    height: $height;
    z-index: $index;
}
.team{
    margin-top: 10%;
    margin-bottom: 10%;
}
.card {
    font-family: 'Montserrat', sans-serif;
    width: $width;
    height: $height;
    margin-top: 1.7em;
    margin-bottom: 1.7em;
    .card-images {
        width: $width;
        height: $height;
        .image_half {
            @include center(9);          
        }
        .image_overlay {
            @include center(99);            
        }
        .image_overlay_svg {
            @include center(99);           
            overflow: hidden;
            border: 2px solid #f9f9fa;
        }
        .info {
            position: absolute;
            bottom: 3%;
            left: 50%;
            width: 210px;
            transform: translate(-50%, -50%);
            z-index: 99;
            color: #000000;
            display: inline-block;
            text-align: left;
            
            .name {
                font-weight: 700;
                font-size: 1.2em;
            }
            .designation {
                font-weight: 500;
                font-size: 0.9em;
            }
        }
        .contact {
            width: 210px;
            position: absolute;
            bottom: 3%;
            left: 0%;
            transform: translate(-50%, -50%);
            z-index: 99;
            display: none;
            color: #ffffff;
            text-align: left;
            .name_contact {
                font-weight: 700;
                font-size: 1.2em;
            }
            .designation_contact {
                font-weight: 500;
                font-size: 0.9em;
            }
            .social_icon {
                position: absolute;
                right: -1%;
                bottom: 5%;
                a {
                    img {
                        width: 35px;
                        height: 35px;
                        padding-left: 5px;
                    }
                }
            }
        }
    }
    :hover .image_overlay {
        background-color: rgba($color: #000000, $alpha: 0.4) !important;
    }
    :hover .contact {
        display: inline-block;
        left: 50%;
    }
    :hover .image_overlay_svg {
        opacity: 0;
        transition: opacity 1s;
    }
    :hover .info {
        display: none;
    }
}
.overlay ul li {
    height: calc(100% / 7);
}


